{% extends "base.html"%}
{%load static%}


{%block content%}
        <!-- header -->
<header class = "flex header-sm">
    <div class = "container">
        <div class = "header-title">
            <h1>Gallery</h1>
            <p>Most exclusive places photo in Bangladesh.</p>
        </div>
    </div>
</header>
<section id = "popular" class = "py-4">
    <div class = "title-wrap">
        <span class = "sm-title">know about some coo destination</span>
        <h2 class = "lg-title">Popular Places</h2>
    </div>

    <div class = "popular-row">
        {%for pic in p_photos%}
        <div class = "popular-item shadow">
            <img src = "{{pic.img.url}}" alt = "">
            <div>
                <span>{{pic.name}}, Bangladesh</span>
                <ul class = "rating flex">
                    <li><i class = "fas fa-star"></i></li>
                    <li><i class = "fas fa-star"></i></li>
                    <li><i class = "fas fa-star"></i></li>
                    <li><i class = "fas fa-star"></i></li>
                    <li><i class = "fas fa-star-half-alt"></i></li>
                    <li>&nbsp;400 reviews</li>
                </ul>
                <p class = "text">{{pic.des}}</p>
            </div>
        </div>
        {%endfor%}

    </div>
</section>
<!-- header -->



<!-- gallery section -->
        <div id = "gallery" class = "py-4">
            <div class = "container">

                <div class = "gallery-row">
                {%for i in g_photos%}
                    <div class = "gallery-item shadow">
                        <img src = "{{i.img.url}}" alt = "gallery img">
                        <span class = "zoom-icon">
                            <i class = "fas fa-search-plus"></i>
                        </span>
                    </div>
                {%endfor%}

                </div>
             </div>
        </div>

        <!-- end of gallery section -->

        <!-- img modal -->
        <div id = "img-modal-box">
            <div id = "img-modal">
                <button type = "button" id = "modal-close-btn" class = "flex">
                    <i class = "fas fa-times"></i>
                </button>
                <button type = "button" id = "prev-btn" class = "flex">
                    <i class = "fas fa-chevron-left"></i>
                </button>
                <button type = "button" id = "next-btn" class = "flex">
                    <i class = "fas fa-chevron-right"></i>
                </button>
                <img src = "images/gallery-1.jpg">
            </div>
        </div>
<!-- end of img modal -->

<script>
            // image modal
            const allGalleryItem = document.querySelectorAll('.gallery-item');
            const imgModalDiv = document.getElementById('img-modal-box');
            const modalCloseBtn = document.getElementById('modal-close-btn');
            const nextBtn = document.getElementById('next-btn');
            const prevBtn = document.getElementById('prev-btn');
            let imgIndex = 0;

            allGalleryItem.forEach((galleryItem) => {
                galleryItem.addEventListener('click', () => {
                    imgModalDiv.style.display = "block";
                    let imgSrc = galleryItem.querySelector('img').src;
                    imgIndex = parseInt(imgSrc.split("-")[1].substring(0, 1));
                    showImageContent(imgIndex);
                })
            });

            // next click

            nextBtn.addEventListener('click', () => {
                imgIndex++;
                if(imgIndex > allGalleryItem.length){
                    imgIndex = 1;
                }
                showImageContent(imgIndex);
            });

            // previous click
            prevBtn.addEventListener('click', () => {
                imgIndex--;
                if(imgIndex <= 0){
                    imgIndex = allGalleryItem.length;
                }
                showImageContent(imgIndex);
            });

            function showImageContent(index){
                imgModalDiv.querySelector('#img-modal img').src = `images/gallery-${index}.jpg`;
            }

            modalCloseBtn.addEventListener('click', () => {
                imgModalDiv.style.display = "none";
            })
        </script>
<!-- popular places section -->
<!-- end of popular places section -->




<script src = "js/script.js"></script>
{%endblock content%}
<!--        &lt;!&ndash; js &ndash;&gt;-->

<!--    </body>-->
<!--</html>-->
