<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'login and reg.css' %}">
</head>


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">YOU LOGGED OUT!!</label>

		<div class="">
			<div class="">
                <h1>please login</h1>





				<div >
					<h1>If you have an account:</h1><a class="white" href="#forgot"> sign IN</a>
				</div>
			</div>


				<div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>